[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dateutil = "*"
prompt-toolkit = "*"
rich_pixels = "*"
checksumdir = "*"
setuptools = "*"
packaging = "*"
pyperclip = "*"
markdown = "*"
bbcode = "*"
httpx = {extras = ["http2", "brotli"]}
rich = "*"

[dev-packages]
sourcery = "*"
ruff = "*"

[requires]
python_version = "3.12"
