[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dateutil = "*"
prompt-toolkit = "*"
checksumdir = {ref = "replace-pkg-resources", git = "git+https://github.com/idahogray/checksumdir"}
packaging = "*"
pyperclip = "*"
markdown = "*"
bbcode = "*"
httpx = {extras = ["http2", "brotli"]}
rich = "*"

[dev-packages]
sourcery = "*"
ruff = "*"

[requires]
python_version = "3.12"
